<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="wrapper">
                <h2 class="text-center">Register</h2>
                <hr>
                <form [formGroup]="registerForm" (submit)="onSubmitHandler()">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="form-label">First Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="firstName" 
                        [class.is-invalid]="firstName?.invalid && firstName?.touched"/>
                        <div *ngIf="firstName?.errors && firstName?.touched">
                            <small class="text-danger">first name is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Last Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="lastName" 
                        [class.is-invalid]="lastName?.invalid && lastName?.touched"/>
                        <div *ngIf="lastName?.errors && lastName?.touched">
                            <small class="text-danger">last name is required</small>
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="form-group">
                        <label class="form-label">Username</label>
                        <input 
                        type="text" 
                        class="form-control"
                        formControlName="loginId"
                        [class.is-invalid]="loginId?.invalid && loginId?.touched"/>
                        <div *ngIf="loginId?.errors && loginId?.touched">
                            <small class="text-danger">username is required</small>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="email" 
                        [class.is-invalid]="email?.invalid && email?.touched"/>
                        <div *ngIf="email?.errors && email?.touched">
                            <small class="text-danger" *ngIf="email?.errors?.['required']">email is required</small>
                            <small class="text-danger" *ngIf="email?.errors?.['email']">email is not valid</small>
                        </div>
                    </div>
                    <!-- Mobile -->
                    <div class="form-group">
                        <label class="form-label">Contact Number</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        formControlName="contactNumber" 
                        [class.is-invalid]="contactNumber?.invalid && contactNumber?.touched"/>
                        <div *ngIf="contactNumber?.errors && contactNumber?.touched">
                            <small class="text-danger" *ngIf="contactNumber?.errors?.['required']">
                                contact Number is required
                            </small>
                            <small class="text-danger" *ngIf="contactNumber?.errors?.['pattern']">
                                contact number must be 10 digits
                            </small>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        formControlName="password" 
                        [class.is-invalid]="password?.invalid && password?.touched"/>
                        <div *ngIf="(password?.errors || registerForm.errors) && password?.touched">
                            <small class="text-danger" *ngIf="password?.errors?.['required']">password is required <br></small>
                            <small class="text-danger" *ngIf="password?.errors?.['minlength']">password must be 6 characters long <br></small>
                            <small class="text-danger" *ngIf="registerForm?.errors?.['notSame']">passwords must match  <br></small>
                        </div>
                    </div>
                    <!-- Password Confirmation -->
                    <div class="form-group">
                        <label for="">Re-enter new password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        formControlName="passwordConfirm" 
                        [class.is-invalid]="passwordConfirm?.invalid && passwordConfirm?.touched"/>
                        <div *ngIf="(passwordConfirm?.errors || registerForm.errors) && passwordConfirm?.touched">
                            <small class="text-danger" *ngIf="passwordConfirm?.errors?.['required']">password is required <br></small>
                            <small class="text-danger" *ngIf="passwordConfirm?.errors?.['minlength']">password must be 6 characters long <br></small>
                            <small class="text-danger" *ngIf="registerForm?.errors?.['notSame']">passwords must match  <br></small>
                        </div>
                    </div>
                    <!-- Submit -->
                    <div class="form-group text-center pt-3 pb-3">
                        <button
                        type="submit" 
                        class="form-control btn btn-primary" 
                        name="submit"
                        value="Register"
                        [disabled]="!registerForm.valid"
                        >Register</button>
                    </div>
                    <div class="text-center">
                        <p>Already have an account?</p>
                        <a routerLink="/login">Sign in Here</a>
                    </div>
                    <div class="text-center {{alertType}} p-2" role="alert" *ngIf="submitted">
                        <h5>{{message | titlecase}}</h5>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
