<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Reset Password</h2>
                <hr>
            </div>
            <div class="modal-body">
                <form [formGroup]="passwordResetForm" (submit)="onSubmitHandler()">
                    <div *ngIf="!loggedIn">
                        <label for="">Enter username</label>
                        <input type="text" class="form-control" formControlName="loginId"
                        [class.is-invalid]="passwordResetForm.get('loginId')?.invalid  && passwordResetForm.get('loginId')?.touched">
                        <div *ngIf="passwordResetForm.get('loginId')?.errors && passwordResetForm.get('loginId')?.touched">
                            <small class="text-danger" *ngIf="password?.errors?.['required']">Username is required</small>
                        </div>
                    </div>
                    <div>
                        <label for="">Enter new password</label>
                        <input type="password" class="form-control" formControlName="password"
                        [class.is-invalid]="(password?.invalid || passwordResetForm.invalid) && password?.touched">
                        <div *ngIf="(password?.errors || passwordResetForm.errors) && password?.touched">
                            <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required <br></small>
                            <small class="text-danger" *ngIf="password?.errors?.['minlength']">password must be 6 characters long  <br></small>
                            <small class="text-danger" *ngIf="passwordResetForm?.errors?.['notSame']">passwords must match  <br></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Re-enter new password</label>
                        <input type="password" class="form-control" formControlName="passwordConfirm"
                        [class.is-invalid]="(passwordConfirm?.invalid || passwordResetForm.invalid) && passwordConfirm?.touched">
                        <div *ngIf="(passwordConfirm?.errors || passwordResetForm.errors) && passwordConfirm?.touched">
                            <small class="text-danger" *ngIf="passwordConfirm?.errors?.['required']">password is required <br></small>
                            <small class="text-danger" *ngIf="passwordConfirm?.errors?.['minlength']">password must be 6 characters long <br></small>
                            <small class="text-danger" *ngIf="passwordResetForm?.errors?.['notSame']">passwords must match  <br></small>
                        </div>
                    </div>
                </form> 
            </div>
            <div class="modal-footer">
                <button class="btn" (click)="closePopup()">Close</button>
                <input type="submit" value="Reset Password" (click)="onSubmitHandler()">
            </div>
        </div>
    </div>
    
</div>  
